{% extends 'base.html' %}
{% block title %}Playlists{% endblock %}

{% block content %}

<div class="container  mt-5">
  <div id="player-container">
  </div>
  <h1 class="mb-4">Song Categories 🎵</h1>
  <h6 class="mt-4">Your Mood, Your Playlist! Have a look through your songs!</h6>
  <div class="container m-3">
    <p>{{ response }}</p>
    <div class="row">
      <h1 style="color: #1DB954;">Happy Songs</h1>
      {% for track in happy_songs %}
      <div class="col-lg-3 col-sm-12 p-3 ">
        <div class="card music-sec" style="width: 16rem; background-color: #171717;">
          <div class="img-div">
            <img src="{{ track.image_url }}" class="card-img-top" alt="{{ track.name }}">
            <div class="play-icon" onclick="playSong('{{ track.song_url }}')">
              <span class="fa fa-play"></span>
            </div>
          </div>
          <div class="card-body" style="min-height: 120px;">
            <p class="card-text">{{ track.name }}</p>
            <div class="d-flex flex-row align-items-center justify-content-between">
              <p class="mb-2">By {{track.artist}}</p>
              <div>
                <div class="history-icon1 circle-bg"
                            onclick="addPlaylist('{{ track.song_url }}','{{ track.name }}','{{ track.duration }}', '{{ track.image_url }}')">
                            <span class="fa fa-plus"></span>
                        </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <h1 style="color: #1DB954;">Sad Songs</h1>
      {% for track in sad_songs %}
      <div class="col-lg-3 col-sm-12 p-3 ">
        <div class="card music-sec" style="width: 16rem; background-color: #171717;">
          <div class="img-div">
            <img src="{{ track.image_url }}" class="card-img-top" alt="{{ track.name }}">
            <div class="play-icon" onclick="playSong('{{ track.song_url }}')">
              <span class="fa fa-play"></span>
            </div>
          </div>
          <div class="card-body" style="min-height: 120px;">
            <p class="card-text">{{ track.name }}</p>
            <div class="d-flex flex-row align-items-center justify-content-between">
              <p class="mb-2">By {{track.artist}}</p>
              <div>
                <div class="history-icon1 circle-bg"
                            onclick="addPlaylist('{{ track.song_url }}','{{ track.name }}','{{ track.duration }}', '{{ track.image_url }}')">
                            <span class="fa fa-plus"></span>
                        </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <h1 style="color: #1DB954;">Surprised Songs</h1>
      {% for track in surprised_songs %}
      <div class="col-lg-3 col-sm-12 p-3 ">
        <div class="card music-sec" style="width: 16rem; background-color: #171717;">
          <div class="img-div">
            <img src="{{ track.image_url }}" class="card-img-top" alt="{{ track.name }}">
            <div class="play-icon" onclick="playSong('{{ track.song_url }}')">
              <span class="fa fa-play"></span>
            </div>
          </div>
          <div class="card-body" style="min-height: 120px;">
            <p class="card-text">{{ track.name }}</p>
            <div class="d-flex flex-row align-items-center justify-content-between">
              <p class="mb-2">By {{track.artist}}</p>
              <div>
                <div class="history-icon1 circle-bg"
                            onclick="addPlaylist('{{ track.song_url }}','{{ track.name }}','{{ track.duration }}', '{{ track.image_url }}')">
                            <span class="fa fa-plus"></span>
                        </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <h1 style="color: #1DB954;">Angry Songs</h1>
      {% for track in fear_songs %}
      <div class="col-lg-3 col-sm-12 p-3 ">
        <div class="card music-sec" style="width: 16rem; background-color: #171717;">
          <div class="img-div">
            <img src="{{ track.image_url }}" class="card-img-top" alt="{{ track.name }}">
            <div class="play-icon" onclick="playSong('{{ track.song_url }}')">
              <span class="fa fa-play"></span>
            </div>
          </div>
          <div class="card-body" style="min-height: 120px;">
            
            <p class="card-text">{{ track.name }}</p>
            <div class="d-flex flex-row align-items-center justify-content-between">
              <p class="mb-2">By {{track.artist}}</p>
              <div>
                <div class="history-icon1 circle-bg"
                            onclick="addPlaylist('{{ track.song_url }}','{{ track.name }}','{{ track.duration }}', '{{ track.image_url }}')">
                            <span class="fa fa-plus"></span>
                        </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/scripts.js') }}"></script>

{% endblock %}
<!-- main area -->